<h1>Registration Form</h1>

<form #registerForm="ngForm"  (ngSubmit)="registerSubmit(registerForm.value)">
    <table>
        <tr>
            <td>EmpName</td>
            <td><input type="text" name="empName" ngModel /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" name="salary" ngModel /></td>
        </tr>
        <tr>
            <td>Enter gender</td>
            <td><select id="gender" name="gender" ngModel>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select></td>

        </tr>
        <tr>
            <td>DOJ</td>
            <td> <input type="date" name="doj" ngModel> </td>
        </tr>
        <tr>
            <td>Country</td>
            <td> <input type="text" name="country" ngModel> </td>
        </tr>
        <tr>
            <td>Email-Id</td>
            <td><input type="mail" name="emailId" ngModel></td>
         </tr> 
         <tr>
            <td>Password</td>
            <td><input type="password" name="password" ngModel></td>
         </tr>
         <tr>
            <td>DeptId</td>
            <td><input type="number" name="deptId" ngModel></td>
         </tr>
         
    </table>
    <tr>  
        <td>
            <button>Register</button> Already have an Account? <a href="">Login</a>
        </td>
    </tr>
</form>