<h1>Login Form</h1>

<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" >
    <table>
        <tr>
            <td>Enter Email-Id</td>
            <td><input type="text" name="emailId" ngModel /></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" name="password" ngModel /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Login</button> New User? <a href="">Register</a>
            </td>
        </tr>
    </table>
</form>

