<table>
    <thead>
      <tr>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>DOJ</th>
        <th>Country</th>
        <th>Email ID</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName | uppercase}}</td>
            <td>{{emp.salary  | currency:'INR'}}</td>
            <td>{{emp.gender  | lowercase}}</td>
            <td>{{emp.doj     | date:'dd-MM-yyyy'}}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.emailId}}</td>
            <td>{{emp.password}}</td>
        </tr>
    </tbody>
  </table>